

.content{
    color: #000;
    background-color: #ebe7ec;
    font-size:medium;
    padding-right: 300px;
    padding-left: 100px;
    padding-top: 50px;
    text-align: left;
}

.content-wrapper div{
    display: block;
    padding: 20px;
    width: 200px;
    box-sizing: border-box;
    margin: auto auto; /* Vertical  Horizontal */
  } 

  .header{
      
  }