

/* Header/logo Title */
.header {
    padding: 20px;
    text-align: center;
    background: #5774b3;
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
body {
    padding: 30px;
    background: #dcebf1;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #4CAF50;
  }
  
  .navbar .search-container {
    float: right;
  }
  
  .navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .navbar .search-container button:hover {
    background: #ccc;
  }

/* Float four columns side by side */
.column {
    float: left;
    width: 32%;
    padding: 75px 5px 5px 5px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 600px) {
    
    .navbar .search-container {
          float: none;
    }
    .navbar a, .topnav input[type=text], .topnav .search-container button  {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar input[type=text] {
        border: 1px solid #ccc;  
      }
     /* Responsive columns */ 
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    /* Responsive images */   
    .img-responsive{
        width: 100%;
        height: auto;
    }

    /* Style the footer */
    
    .footer{
    padding: 50px;
    text-align: center;
    background: rgb(88, 72, 158);
    margin-top: 50px;
  }
  }
  